.clientes-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .busqueda {
    margin-bottom: 20px;
  }
  
  .lista-clientes table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .lista-clientes th, .lista-clientes td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .lista-clientes th {
    background-color: #f2f2f2;
  }