<div class="main-interface">
  <div class="container">
    <h1>Bienvenidos</h1>
    <nav>
      <ul>

        <button routerLink="/Login">iniciosesion</button>
        <button routerLink="/Seguridad"> Seguridad</button>
        <button routerLink="/Restaurante">Restaurante</button>
        <button routerLink="/Clientes">Clientes</button>
        <button routerLink="/Proveedores">Proveedores</button>
        <button routerLink="/Administración">Administración</button>
        <button routerLink="/Reportes">Reportes</button>

      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>