.admin-container {
    background-color: chocolate;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto; /* Esto centrará el contenedor horizontalmente en la página */
  }
  
  .options-container {
    margin-bottom: 20px;
  }
  
  .button-container button {
    margin-right: 10px;
  }