<p>seguridad works!</p>
<div class="admin-container">
    <div class="button-grid">
      <button routerLink="/Usuarios">Usuarios</button>
      <button routerLink="/Consecutivos"> Consecutivos</button>
      <button routerLink="/Paises">Países</button>
      <button routerLink="/Cajas">Cajas</button>
      <button routerLink="/Roles"> Roles o Eventos</button>
      <button routerLink="/UnidadMedidas">Unidad de Medida</button>
    </div>
    <div class="button-container">
      <button>Aceptar</button>
      <button routerLink="/Administración">Volver</button>
    </div>
    <router-outlet></router-outlet>
  </div>